/*************/
/** Buttons **/
/*************/

.all-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.8em;
    padding: 0 15px 0 15px;
    font-size: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6b6d76;
    color: #fff;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.03);
}

.big-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.6em;
    padding: 0 23px 0 23px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6b6d76;
    color: #fff;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.03);
}

.all-button img {
    height: 1.3em;
    margin: 0 5px 0 -5px;
}

.round-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.4em;
    height: 2.4em;
    font-size: 0.7em;
    border-radius: 2.4em;
    cursor: pointer;
    background-color: #6b6d76;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.03);
}

.round-button img {
    height: 1.3em;
}

/* Allows to choose whether to put or not a change of background color on hover */
.all-button-hover:hover {
    background-color: #787a84;
}

.green-button {
    background-color: #579674;
    color: #fff;
}

.green-button:hover {
    background-color: #60a580;
}

.border-green-button {
    background-color: #25272d;
    border: 2px solid #579674;
    color: #579674;
}

.orange-button {
    background-color: #ba7243;
    color: #fff;
}

.orange-button:hover {
    background-color: #ce7f4a;
}

.border-orange-button {
    background-color: #25272d;
    border: 2px solid #ce7f4a;
    color: #ce7f4a;
}

.border-orange-button:hover {
    border: 2px solid #ba7243;
    color: #ba7243;
}

.red-button {
    background-color: #964040;
    color: #fff;
}

.red-button:hover {
    background-color: #a54747;
}
