#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #b3b3b3;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

/**
 * Links on the top of the menu.
 */
#header .element:first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 45px;
}

#header .element:first-child h1 {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
}

#header .element:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

#header .element:nth-child(2) a {
    color: #fff;
    font-size: 0.9em;
    padding: 0 25px 0 0;
}
