html, body {
    font-family: "Ubuntu", serif;
    width: 100%;
    height: 100%;
    margin : 0;
    background-color: #25272d;
    color: #b3b3b3;
}

#body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 0 0 0 0;
    justify-content: center;
    align-items: center;
}

#body #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.reduced-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #b3b3b3;
}

.pointer-cursor {
    cursor: pointer;
}

.no-border {
    border: none;
}
