/* Source: https://codepen.io/samkeddy/pen/PbROLK */
.radio-group {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    border-radius: 5px;
    overflow: hidden;
    height: 2.8em;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.03);
}

.radio-group label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 13px 0 13px;
    color: #b3b3b3;
    background-color: #363842;
    transition-property: color, background-color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

/*.radio-group label:first-of-type {
    padding: 0 10px 0 15px;
}

.radio-group label:last-of-type {
    padding: 0 15px 0 10px;
}*/


.radio-group input[type="radio"]:checked + label {
    color: #fff;
    background: #579674;
    transition-property: color, background-color;
    transition-duration: .4s;
    transition-timing-function: ease-out;
}

.radio-group label + input[type="radio"] + label {
}


.radio-group input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
}
