#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 591px;
}

/********************************/
/***** Board of the Go Game *****/
/********************************/
#board {
    display: flex;
    flex-flow: row wrap;
    width: 589px;
    height: 589px;
    background: #c3c3c3;
    border: 1px solid white;
}

#board .cell {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
}

.piece {
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 15px;
}

.black {
    background: #000;
}

.white {
    background: #fff;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    width: 15px;
    height: 15px;
}

.top-left {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.top-right{
    border-bottom: 1px solid white;
}

.bottom-left {
    border-right: 1px solid white;
}

/*************************************/
/***** Little panel to pass turn *****/
/*************************************/
#panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 591px;
}

#game-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 130px;
    background: #fff;
}

#game-element p {
    margin: 0 0 13px 0;;
    color: #25272d;
}

/**********************************/
/***** Chat with the opponent *****/
/**********************************/

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

#chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    color: #25272d;
    font: 100%/1em "Droid Sans", sans-serif;
    width: 300px;
    height: 450px;
}

#chat h5 {
    font-size: 10px;
}

#chat form {
    padding: 24px;
    bottom: 0;
}

#chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

#message-history {
    height: 580px;
    padding: 8px 12px;
    overflow-y: scroll;
}

.message {
    margin: 16px 0;
}

.message-content {
    margin-left: 20px;
    font-size: 0.8em;
}

.sent-time {
    float: right;
    font-size: 10px;
}
