/****************************/
/***** List of players *****/
/****************************/
#players {
    display: flex;
    flex-flow: row || wrap;
    margin: 0 0 10px 0;
}

/* Single cell representing a player */
#players .player {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 150px;
    margin: 0 0.5% 0 0.5%;
    border-radius: 5px;
    background: #b3b3b3;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

/* Single element of a player cell */
#players .player .player-element {
    display: flex;
    flex-direction: row;
    width: 98%;
}

/* Version and title of a given player */
#players .player .player-element:first-child {
    height: 18%;
    padding: 1%;
}

/* Version of a given 'Appli' */
/*#players .player .player-element:first-child .version {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    background: #40434e;
}*/

/* Username of a given player */
#players .player .player-element:first-child .username {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 0 6px;
    color: #000;
}

/* Description of a given player */
#players .player .player-element:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    height: 58%;
    border-left: 3px solid #a5a5a5;
    font-size: 0.8em;
    color: #000;
    margin: 5px;
    padding: 0 0 0 5px;
}

/* Buttons allowing to manage every single player */
#players .player .player-element:last-child {
    justify-content: flex-end;
    align-items: flex-end;
    width: 98%;
    height: 20%;
    margin: 1%;
    color: #000;
}

/* Buttons allowing to enable any player */
#players .player .player-element:last-child .enabled {
    margin: 0 1% 0 0;
}

/* Buttons of the player's list's top */
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0 15px 0;
}

