#login, #register {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: #c0c0c0;
    color: #25272d;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#login {
    display: flex;
}

#register {
    display: none;
}

#login h1, #register h1 {
    width: 90%;
    margin: 0 0 10px 0;
    padding: 3% 5%;
    border-bottom: 1px solid #b0b0b0;
}

.error {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 6px;
    margin: 0 0 10px 0;
    font-size: 0.8em;
    border-radius: 5px;
    background: #964040;
    color: #fff;
}

#login form, #register form {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 94%;
}

input[type=text], input[type=password], input[type=email] {
    margin: 5px 0;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #808080;
    background: #dedede;
    border-radius: 5px;
}

::placeholder {
    color: #808080;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0;
}

.buttons p {
    width: 50%;
    margin: 0;
    padding: 0 0 0 3px;
    font-size: 0.6em;
}

.buttons p #login-button, .buttons p #register-button {
    color: #ba7243;
    cursor: pointer;
}
